.ojmLogo {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}

.main {
    background-color: #12414F;
    width: 100vw;
    height: 101vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainBox {
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-bottom: 200px;
}

.mainLogo {
    width: 460px;
    height: 460px;
}

.searchLocationBox {
    position: relative;
    width: 600px;
    height: 60px;
    border-radius: 100px;
    background : linear-gradient(110deg ,#FF3333 30%, #FF7676 60%, #FFF500 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.searchInput {
    border: none;
    width: 584px;
    height: 44px;
    border-radius: 100px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
}

.searchLogo {
    position: absolute;
    left : 5%;
    cursor: pointer;
}
.chooseBtnBox {
    width: 600px;
    display: flex;
    justify-content: space-between;
}

.chooseBtn {
    border : none;
    width: 240px;
    height: 80px;
    color : white;
    font-size: 36px;
    font-weight: bold;
    border-radius: 50px;
    background: linear-gradient(96deg, #F33 0%, #FF7676 61.63%, #FFF500 100%);
    cursor : pointer;
}